
/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* google web fonts */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* noon font */
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }




#typing{
    font-size: 45px;
    color: #D92027;
    padding: 50px 0;
    font-weight: bold;
}

.company-main{
    background-color: #fff;
    border-radius: 20px;
    text-align:  center;
    padding-bottom: 100px;
}

  .item {
    width: 300px;
    height: 200px;
    display: inline-block;
    position: relative;
    margin: 10px;
  }
  .item img{width: 100%;}

  .front,
  .back {
    position: absolute;
    transition: 0.5s;
    top: 0;
  }
  .front {
    text-align: center;
    height: inherit;
    width: 100%;
    z-index: 1;
    border-radius: 5px 5px 0 0;
    padding-top: 100px;
  }
  .item:hover .front img {
    animation: ani 1s linear infinite;
  }
  .front h2 {
    margin-top: 0;
    color: #f68c13;
  }
  .back {
    background-color: #fff;
    color: #555;
    height: inherit;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 0 0 5px 5px;
  }
  .back a {
    background-color: #f68c13;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 13px;
  }
  .back a:hover {
    background-color: #D92027;
  }
  .item:hover .front {
    top: -50%;
  }
  .item:hover .back {
    top: 100%;
    opacity: 1;
  }
  
  @keyframes ani {
    0%,100% {
      transform: scale(0.9)
    }
    50% {
      transform: scale(1.1)
    }
  }


  .company-overview{padding-top: 200px;}

  .company-overview h2{
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
    color: #D92027;
  }


 .company-info{
    text-align: center;
    margin-left: 100px;
    color: #555;
 }

 .company-info-text>div{
    width: 50%;
    line-height: 2em;
    text-align: left;
  
}
 .company-info-text>div p{
    display: inline-block;
    padding-left: 50px;
}

hr{margin: 50px 0; color: #555;}

.company-info-b>p{
    padding-left: 30px;
}
.company-info-b>h2{  
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
    color: #D92027;
  }

.company-info-c>p{
    margin-left: 40px;
    padding-bottom: 40px;
    color: #555;
}
.company-info-img {text-align: center;}


/* 태블릿기기 */
  
  @media(max-width:991px){ 
    #typing{font-size: 30px;}

    .back {opacity: 1; top: 150%; margin-bottom: -100px;}
    .item {
     width: 200px;
    }
     .item:hover .front img {
      animation: none;}
      .front{
        margin-bottom: -50px;
      }
      .front,
      .back {
        position: static;
        opacity: 1;
      }
      .front{padding-top: 10px;}
      .company-info-img img{width: 80%;}
      .company-overview{padding-top: 30px;}
      .company-overview>div{width: 70%;}
      .company-overview>div img{width: 100%;}
      .company-info-text>div p {
        padding-left: 0px;}
       .company-main{
          padding-top: 60px;
          padding-bottom: 30px;
      }
      .company-info-text p{padding-right: 10px;}

  } 
/* 폰 기기 */
  
  @media(max-width:767px){ 
    #typing{font-size: 20px; padding: 20px 0;}
    .company-overview-img img{width: 80%;}
    .company-info-text{display: block;}
    .company-info-text>div{width:100%;}
    .company-info-text>div p{font-size: 13px; display: inline;}
    .company-info-c>p{margin-left: 10px; font-size: 13px;}
    .front{
      margin-bottom: -20px;
    }
    .back {padding: 5px; margin-top: -10px;}
  }  