
/* FontAwesome 4.7 CDN */
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


.mouse h1{display: none;}


.candy {
  position: absolute;
  width:50px;
  top: 30%;
  left: 9%;
  z-index: 100;
}
.candy2 {
  position: absolute;
  width:50px;
  top: 50%;
  left: 5%;
  z-index: 100;
}
.candy3 {
  position: absolute;
  width:50px;
  top: 50%;
  left: 96%;
  z-index: 100;
}
.candy4 {
  position: absolute;
  width:50px;
  top: 60%;
  left: 89%;
  z-index: 100;
}
.candy5 {
  position: absolute;
  width:50px;
  top: 10%;
  left: 95%;
  z-index: 100;
}
.candy6 {
  position: absolute;
  width:50px;
  top: 10%;
  left: 3%;
  z-index: 100;
}
:root {
  --swiper-theme-color: #fff;
}
.section-swiper {
        position: relative;
        height: 100%;
}
      .swiper {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .section-swiper.active{display: none;}

      .swiper-pagination-bullet{width:30px; height:5px; border-radius: 0px;  opacity:0.6;}

.main-section.active{display: none;}

.tab-inner {
  margin-top: 30px;
}
.btn {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  gap: 20px;
  position: relative;
  padding-top: 40px;
}
.btn li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  border-top: 2px solid transparent;
  font-size: 28px;
  background-color: #fff;
  color: #ffcd3c;
  border-radius: 20px;

}
.btn li::after{
  content: '\eb1d';
  font-family: xeicon;
  width: 0%;
  position: absolute;
  top: 0px;
  left: 0%;
  opacity: 1;
  transition: 0.3s;
  color: orange;
}
.btn li:nth-child(1):hover:after{
  width: 8%;
  left: 6%;
  opacity: 1;
  color: red;
}
.btn li:nth-child(2):hover:after{
  width: 10%;
  left: 25%;
  opacity: 1;
  color: orangered;
}
.btn li:nth-child(3):hover:after{
  width: 5%;
  left: 47.5%;
  opacity: 1;
  color: yellow;
}
.btn li:nth-child(4):hover:after{
  width: 12%;
  left: 64%;
  opacity: 1;
  color: green;
}
.btn li:nth-child(5):hover:after{
  width: 5%;
  left: 87.5%;
  opacity: 1;
  color: blue;
}
.btn li:hover,
.btn li.active {
  color: #fff;
  background-color: #ffcd3c;
}
.tabs {
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 100px;
  margin-top: 40px;
}
.tabs>div {
  padding: 20px;
  box-sizing: border-box;
  display: none;
}
.tabs>div.active {
  display: block;
}

/* Tab Content */
.tabs div h2 {
  text-align: center;
}
.tabs div img {
  float: left;
  margin-right: 10px;
}
.tabs div p {
  overflow: hidden;
}
/* Heading */

.text-outer{text-align: right;}
.heading div{padding-top: 50px; text-align: center;}
.heading span {
  color: #fff;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgba(0, 20, 0, 0.5);
}


/* choco section */


.choco>div{width: 33.33%; cursor: pointer;}
.choco>div img{width: 100%;}



.product-title{
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: 300;
  margin-top: -50px;
}
.product-title>p{padding: 5px;}



/* caption */

.caption {
  width: 300px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 10px;
  left: 40px;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 40px;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  line-height: 300px;
}
.caption span{
  background-color: #ffcd3c;
  padding: 6px;
  border-radius: 50%;
}
.caption span i{font-size: 23px; transform: translateY(5px); transition: 0.3s;}
.caption span i:hover{transform: scale(1.1);}
.choco>div{margin: 10px 0; transition: 0.3s;}
.choco>div:hover{transform: scale(1.1);}

.caption i.active{color: #D92027 ;}
.pro {

  position: relative;

}
.pro:hover .caption {
  opacity: 1;
}



/*태블릿 기기 */   
@media(max-width:991px){
 .caption{  
  top: -10px;
  left: 10px;
  width: 200px;
  height: 200px;
  
  
}
.btn {
  gap: 5px;}
 
 .btn li{font-size: 20px;}
 .heading div{padding-top: 20px;}
 .heading h2{margin: 0;}
 .tab-inner{margin-top: 10px;}
 .main-section-box{padding-top: 120px;}
 .product-title{margin-top: -10px; font-size: 18px;}
 .tabs{padding-bottom: 30px;}
}


 





/*폰 기기 */   
@media(max-width:767px){ 
  .caption{display: none;}
  .heading span{font-size: 25px;}
  .btn li{font-size: 14px; border-radius: 10px; padding-bottom: 5px;}
  .btn{padding-top: 20px;}
  .heading input[type=text] {width: 100%; padding-top: 10px;} 
  .product-title p{font-size: 14px;}
  .swiper-button-next, .swiper-button-prev{display:none}
  .main-section-box{padding-top: 70px;}
}