*{margin: 0 ; box-sizing: border-box; margin: 0; list-style: none;}

/* 타이틀 헤더 영역 */
.header_inner{
  margin-top: -10px;
}
      section.titleWrap {
        position: fixed;
        width: 100%;
        height: 300px;
        top:0;
        left:0;
      }
     .banner-text {
        position: absolute;
        color : #eee;
        text-align: center;
        padding-top: 130px;
        width:100%;
        font-size: 50px;
        z-index: 1;
       
      }
      .banner-text>span{ 
        border-bottom:solid 1px #fff;
        width: 20px;
       }

      .cover {
        position:fixed;
        width: 100%;
      }
      .coverImg {
        position: fixed;
        width: 100%;
        height:300px;
        background: url(../img/sub-news/banner-img.png) center center / cover no-repeat;
      } 
      

      /* 본문 영역 */
      .textWrap {
        position: relative;
        width: 100%;
        height:1500px;
        margin-top:400px;
        background-color: #fff;
       
      }
      .innerWrap {
        width: 80%;
         margin: 0 auto;
      }
      .innerWrap>h1{
       margin: 0;
        text-align: center;
        color: #0D7ABE; 
        font-size: 200px;
        opacity: 0.2;
        position: relative;
      }
      .innerWrap>p{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        z-index: 3;
        text-align: center;
        font-size: 55px;
        font-weight: bold;
        color: #0D7ABE;
      }

    hr{
      background-color: #0D7ABE;
      width:50%;
      height: 5px;
      left: 0;
      margin: 0;
     
    }

    form {float: right;}

    input[type=text] { 
      padding: 12px 20px;         
      border: 1px solid #ccc;
      border-radius: 4px;
     
    }

    .search::after{ 
     margin-top: 100px;
     content: '';
     display: block;
     clear: both;
     background-color: pink;   

    }
    .search input[type=text]:focus::placeholder {
      opacity: 0;
    }
    .search i{
      cursor: pointer;
    }

    .pagination>i{
      opacity: 0.6;
      cursor: pointer;
    }

    /* 카드뉴스 */
    .warp{
      width: 1400px;
      margin: 0 auto;
    }

    .card{
      display: flex;
      margin-top: 50px;
      
    }

    .card>div{
      width: 33.33%;
      
      box-shadow: 5px 5px 5px rgb(190, 190, 190);
      margin: 10px 10px 50px 10px;
     
      cursor: pointer;
      
    }

    .card .card-img{
      width: 100%; overflow: hidden;
      height: 291px;
      
    }

    .card .card-img img{width:100%; transition: all 0.5s; }
    .card2 .card-img img{height: 291px; }

    .card .card-img img:hover{
      transform: scale(1.1);
    }

    .card>div>p{padding-top: 30px; padding-left: 20px;}

    .card>div>h3{
      padding: 30px 20px;
      text-align: left;
    }
    .card2{display: none;}






    /* pagination */
    .pagination{
     text-align: center;
      padding-top: 100px;
    }
    .pagination>a{
      padding: 0 20px;
    }
    .pagination>a:hover{
      text-decoration: underline;
    }


 
/* -------------------------------------미디어 쿼리----------------------------------- */
 

  @media(max-width:991px){
    
    .header_inner{
      margin-top: 0px;
    }

    .visual{
      width: 100%;
     
    } 
    .textWrap{
      height: 1200px;
      margin-top: 350px;
    } 
    .warp{
      width: 100%; 
      padding:0 20px;
    }

    /* 타이틀   */
     .innerWrap>h1{
       font-size: 100px;}
  
     .innerWrap>p{
       top: 40px;      
       font-size: 50px;       
     }

  

     /* 검색창 */
     input[type=text] {
      padding: 12px 20px;
    }
  /* 카드뉴스 */

  .card .card-img{
    width: 100%; overflow: hidden;
    height: 159px;    
  }

  .card>div>p{padding-left: 10px;}

  .card>div>h3{
    padding: 30px 10px; 
  }

  /* pagination */
  .pagination{
     padding-top: 50px;
   }

    footer{
      margin-top: 0px;
    }

  }


  /* --------------------------------모바일------------------------------------- */
  @media(max-width:767px){
   
    .header_inner{
      margin-top: 10px;
    }
    .textWrap{
      height: 1600px;
      margin-top: 350px;
    } 
    .warp{
      width: 100%; 
      padding:0 20px;
    }  
    .banner-text{
      font-size: 35px;
    }

    /* 타이틀   */
     .innerWrap>h1{
       font-size: 60px;}
  
     .innerWrap>p{
       top: 20px;      
       font-size: 30px;       
     }

  

     /* 검색창 */

     form {
      display: flex;
      align-items: center;
      padding-top: 20px;
     
    }
     input[type=text] {
      padding: 5px 0px;
      width: 100%;

    }





 /* 카드뉴스 */

.card{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  
}

.card>div{
  width: 100%;
}

.mo-none{
  display: none;
}

.card .card-img{
  width: 100%; overflow: hidden;
  height: 219px;
  
}


/* pagination */
.pagination{
 text-align: center;
  padding-top: 80px;
}
.pagination>a{
  padding: 0 10px;
}
.pagination>a:hover{
  text-decoration: underline;
}














  }